<section id="showjumping">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="rectangle">
          <div class="head">
            <p>Барьер</p>
            <p id="mark">Штраф</p>
          </div>
          <div class="num__dressage" >
            <p class="text">№1</p>
            <input type="text" class="inp">
            <p class="text">№2</p>
            <input type="text" class="inp">
            <p class="text">№3</p>
            <input type="text" class="inp">
            <p class="text">№4</p>
            <input type="text" class="inp">
            <p class="text">№5</p>
            <input type="text" class="inp">
            <p class="text">№6</p>
            <input type="text" class="inp">
            <p class="text">№7</p>
            <input type="text" class="inp">
            <p class="text">№8</p>
            <input type="text" class="inp">
            <p class="text">№9</p>
            <input type="text" class="inp">
            <p class="text">№10</p>
            <input type="text" class="inp">
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="judge__block">
          <h2 id="judge">Судья</h2>
          <p id="fio">Султанов Дмитрий Анатольевич</p>
        </div>
        <div id="rider">
          <h2>Всадник</h2>
          <p class="kek">Тухкина</p>
        </div>
        <div id="horse">
          <h2>Лошадь</h2>
          <p class="keks">Туман</p>
        </div>
        <div id="shema">
          <h2>Маршрут</h2>
          <p id="shem">120 см</p>
        </div>
      </div>
      <button id="butt__ick" (click)="ick()">Всадник исключён</button>

        <div class="headi">
          <p>Время</p>
        </div>

      <input type="text" id="ino__t"/>


      <button id="add">Отправить</button>
    </div>
  </div>
</section>

