#calendar {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../../../assets/pictures/shared/calendarBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.rectangle {
  min-width: 1120px;
  height: 750px;
  background: rgba(76, 92, 212, 0.4);
  border-radius: 25px 0px;
  margin-top: 10px;
  position: relative;
  overflow-y: scroll;
}

.rectangle::-webkit-scrollbar {
  width: 9px;   /* ширина scrollbar */
}

.rectangle::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}
.rectangle::-webkit-scrollbar-thumb {
  background: rgba(82, 91, 159, 0.8);
  border-radius: 22px;
}

.cards {
  min-width: 1020px;
  display: inline-block;
}

.add {
  width: 145px;
  height: 40px;
  background: #525B9F;
  border-radius: 5px 0px;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  right: 15px;
  top: 139px;
  border: 0;
  margin-top: 10px;
  margin-left: 1235px;
}
