<section id="calendar">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="rectangle">
        <div class="cards">
          <app-card-competition *ngFor="let competition of searchService.competitions" [item]="competition"></app-card-competition>
        </div>
      </div>
      <button (click)="open(addCompetitionModal)" class="add">Добавить</button>
    </div>
  </div>
</section>

<ng-template #addCompetitionModal let-modal>
  <app-addcompetition></app-addcompetition>
</ng-template>
